@font-face {
  font-family: 'open_sanslight_italic';
  src: url('#{$path_open_sans_light_italic}.eot');
  src: url('#{$path_open_sans_light_italic}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_open_sans_light_italic}.woff2') format('woff2'),
    url('#{$path_open_sans_light_italic}.woff') format('woff'),
    url('#{$path_open_sans_light_italic}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('#{$path_open_sansbold_italic}.eot');
  src: url('#{$path_open_sansbold_italic}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_open_sansbold_italic}.woff2') format('woff2'),
    url('#{$path_open_sansbold_italic}.woff') format('woff'),
    url('#{$path_open_sansbold_italic}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawalbold';
  src: url('#{$path_tajawalbold}.eot');
  src: url('#{$path_tajawalbold}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_tajawalbold}.woff2') format('woff2'),
    url('#{$path_tajawalbold}.woff') format('woff'),
    url('#{$path_tajawalbold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal_extraboldregular';
  src: url('#{$path_tajawal_extrabold}.eot');
  src: url('#{$path_tajawal_extrabold}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_tajawal_extrabold}.woff2') format('woff2'),
    url('#{$path_tajawal_extrabold}.woff') format('woff'),
    url('#{$path_tajawal_extrabold}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal_mediumregular';
  src: url('#{$path_tajawal_medium}.eot');
  src: url('#{$path_tajawal_medium}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_tajawal_medium}.woff2') format('woff2'),
    url('#{$path_tajawal_medium}.woff') format('woff'),
    url('#{$path_tajawal_medium}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawalregular';
  src: url('#{$path_tajawal_regular}.eot');
  src: url('#{$path_tajawal_regular}.eot?#iefix') format('embedded-opentype'),
    url('#{$path_tajawal_regular}.woff2') format('woff2'),
    url('#{$path_tajawal_regular}.woff') format('woff'),
    url('#{$path_tajawal_regular}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
