html {
	font-size: 14px;

	@media #{$media_mobile} {
		font-size: 9px;
	}

	@media #{$media_tablet} {
		font-size: 12px;
	}

	@media #{$media_desktop} {
		font-size: 9px;
	}

	@media #{$media_wide} {
		font-size: 10px;
	}

	@media #{$media_very_large_screen} {
		font-size: 14px;
	}
}



body {
	line-height: 1.25;
	font-size: sizer(18);
	@include fontFamily(tajawalregular);
	color: #000000;
}

.centered-narrow {
	margin: 0 auto;
	width: 100%;
	padding: sizer(15) sizer(3);
	@extend %clearfix;

	@media #{$media_desktop_and_wide} {
		max-width: sizer(770);
	}
}

.centered {
	margin: 0 auto;
	width: 100%;
	padding: sizer(15) sizer(3);
	max-width: 95%;
	@extend %clearfix;

	@media #{$media_wide} {
		max-width: sizer(1070);
		padding: sizer(11) sizer(23);
	}

	@media #{$media_large_screen} {
		max-width: 70%;
	}
}

%button {
	background: $red;
	color: #fff;
	outline: 0;
	padding: sizer(12) sizer(22);
	display: inline-block;
	text-align: center;
	border: 0;
	border-radius: 4px;
	font-size: sizer(25);
	margin-top: sizer(20);
	margin-bottom: sizer(15);
	text-transform: uppercase;

	@media #{$media_mobile_and_tablet} {
		font-size: sizer(20);
	}

	&:hover {
		cursor: pointer;
	}

	&[disabled] {
		cursor: default;
		background: #b3b3b3;
		color: #e4e4e4;
	}
}

input[type="submit"],
button {
	background: $white;
	color: $realBlack;
	outline: 0;
	padding: sizer(22);
	width: 100%;
	display: block;
	border: 0;
	border-radius: 4px;
	font-size: sizer(25);
	margin-top: sizer(20);
	margin-bottom: sizer(15);
	text-transform: uppercase;
	-webkit-appearance: none;
	&:hover {
		cursor: pointer;
	}
	&[disabled] {
		cursor: default;
	}
}


.wrapper {
	overflow: hidden;
}

.desktop-only {
	@media #{$media_mobile_and_tablet} {
		display: none !important;
	}
}

.mobile-only {
	@media #{$media_desktop_and_wide } {
		display: none !important;
	}
}

.diagonal_wrapper {
	position: relative;
	z-index: 100;

	.diagonal_content {
		position: relative;
		z-index: 10;
		padding-bottom: 1rem;
		min-height: sizer(80);
	}

	.inner &,
	.front & {
		.diagonal_content {
			min-height: sizer(500);
		}
	}

	&:after {
		content: "";
		background: $red;
		transform: rotate(-21.2deg) translateY(-50%);
		transform-origin: center center;
		z-index: 0;
		position: absolute;
		width: 300%;
		left: -50%;

		height: 18rem;
		top: 0;


		@media #{$media_mobile} {
			transform-origin: 0 0;
			transform: rotate(-10deg) translateY(-50%);
			height: 12rem;
			top: 29vw;
		}


		@media #{$media_tablet} {
			transform-origin: 0 0;
			transform: rotate(-10deg) translateY(-50%);
			height: 18rem;
			top: 28vw;
		}

		@media #{$media_desktop} {
			transform: rotate(-7deg) translateY(-50%);
			height: 20rem;
			top: 0;
		}

		@media #{$media_wide} {
			transform: rotate(-7deg) translateY(-50%);
			height: 20rem;
			top: -1vw;
		}

		@media #{$media_large_screen} {
			transform: rotate(-6deg) translateY(-50%);
			height: 20rem;
			top: -2vw;
		}

		@media #{$media_very_large_screen} {
			transform: rotate(-5deg) translateY(-50%);
			height: 20rem;
			top: -1vw;
		}


	}


	.front &:after {
		content: "";
		background: $red;
		transform: rotate(-21.2deg) translateY(-50%);
		transform-origin: center center;
		z-index: 0;
		position: absolute;
		width: 300%;
		left: -50%;
		height: 100%;
		top: 50%;

		@media #{$media_mobile_and_tablet} {
			transform-origin: 0 0;
			transform: rotate(-21.2deg);
			height: 40%;
			top: 31vw;
		}

		@media #{$media_tablet} {
			height: 40%;
		}

		@media #{$media_desktop} {
			height: 72%;
			top: -10%;
		}

		@media #{$media_wide} {
			height: 72%;
			top: -24%;
		}

		@media #{$media_large_screen} {
			height: 97%;
			top: -8vw;
		}

		@media #{$media_very_large_screen} {
			height: 100%;
			top: -10vw;
		}

	}

	.page-404 &:after {
		content: "";
		background: $red;
		transform: rotate(-21.2deg) translateY(-50%);
		transform-origin: center center;
		z-index: 0;
		position: absolute;
		width: 300%;
		left: -50%;
		height: 70%;
		top: -10vw;

		@media #{$media_mobile} {
			height: 45%;
		}

		@media #{$media_tablet} {
			height: 50%;
		}

		@media #{$media_mobile_and_tablet} {
			transform-origin: 0 0;
			transform: rotate(-21.2deg);
			top: 31vw;
			
		}

		@media #{$media_wide} {
			height: 50%;
		}

		@media #{$media_large_screen} {
			height: 45%;
		}

		
	}

	.inner-page &:after {
		content: "";
		background: $red;
		transform: rotate(-21.2deg) translateY(-50%);
		transform-origin: center center;
		z-index: 0;
		position: absolute;
		width: 300%;

		height: 100%;
		top: 50%;
		left: -100%;

		@media #{$media_mobile_and_tablet} {
			transform-origin: 0 0;
			transform: rotate(-21.2deg);
			height: 45rem;
			top: 51vw;
		}

		@media #{$media_tablet} {
			height: 70rem;
		}

		@media #{$media_desktop} {
			height: 94%;
			top: 42%;
		}
		
		@media #{$media_wide1} {
			height: 91%;
			top: 45%;
		}

		@media #{$media_large_screen} {
			height: 100%;
			top: 22vw;
		}

		// @media #{$media_very_large_screen} {
			// 	height: 100%;
			// 	top: 22vw;
			// }

		}
	}
	a {
		color: $red;
		text-decoration: none;
	}

	.content-text {
		@media #{$media_mobile_and_tablet} {
			padding-#{$from}: sizer(20);
			font-size: sizer(17);
		}
	}

	.content-block {
		margin-bottom: sizer(70);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.content-title {
		margin-bottom: sizer(12);

		@media #{$media_mobile_and_tablet} {
			margin-#{$from}: -4%;
		}


	}
	.page-content {
		position: relative;
		z-index: 2000;

		h2 {
			font-size: sizer(30);
			} h1 {
				font-size: sizer(40);
				max-width: 45rem;
			}
			h2, h1 {
				display: inline-block;
				text-transform: uppercase;


				position: relative;
				color: #fff;
				font-family: "tajawalregular";

				span {
					background: #000;
					padding: sizer(2) sizer(6);
					float: $from;
					position: relative;
					z-index: 10;
				}

				@media #{$media_mobile_and_tablet} {
					padding-#{$from}: 4%;

					&:before {
						content: "";
						background: #000;
						width: sizer(40);
						z-index: 0;
						height: 100%;
						position: absolute;
						top: 0;
						#{$from}: 0;
					}

					font-size: sizer(34);
				}


			}
			p {
				margin-bottom: sizer(17);
			}
		}

		img,
		%img {
			display: block;
			width: 100%;
			height: auto;
		}