// .guide_trigger {
//   display: block;
//   position: fixed;
//   top: 5px;
//   right: 5px;
//   background: yellow;
//   width: 100px;
//   text-align: center;
//   height: 50px;
//   z-index: 4000;
//   line-height: 50px;
//   opacity: 0.4;
// }

// .guide {
//   display: none;
//   z-index: 3000;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0.4;
//   background: blue;
//   width: 100%;
//   height: 10000px;
// }

// .guide div {
//   height: 10000px;
//   margin: 0 auto;
//   width: 100%;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   user-select: none;
//   background-repeat: no-repeat;
//   background-size: 100% auto;
//   background-position: center top;
// }

// .guide div {
//   background-image: url(../images/qa/1.png);
//   @media #{$media_mobile} {
//     background-image: url(../images/qa/2.png);
//   }

//   .inner & {
//     background-image: url(../images/qa/3.png);
//     @media #{$media_mobile} {
//       background-image: url(../images/qa/4.png);
//     }
//   }

//   .page-404 & {
//     background-image: url(../images/qa/5.png);
//     @media #{$media_mobile} {
//       background-image: url(../images/qa/6.png);
//     }
//   }
// }