*, *:before, *:after {
  box-sizing: border-box;
}

applet, pre,del, dfn, em, img, ins, kbd, q, s, samp,dl, dt, dd, 
abbr, acronym, address, big, cite, code,small, tt,
var,time, mark, audio, video, ruby, menu,
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, a, strike, strong, b, u, i, center,ol, ul, li,fieldset, 
form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, nav, output,  section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

sub, sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

details, figcaption, figure, 
hgroup, 
menu,
article, aside, footer, header,nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  direction: $direction;
  text-align: $from;
  overflow-x: hidden;
  line-height: 1;
}

li, ul, ol {
  margin: 0;
  padding: 0;
  direction: $direction;
  text-align: $from;

}
ol, ul , li {
  list-style-position: inside;
  list-style: none;
  list-style-image: none;
}

a {
  display: inline-block;
}

input, textarea, input[type='submit'],
	button,img, iframe, object, video {
  max-width: 100%;
}

%clearfix {  
  &:before,
    &:after {
    content: "";
    display: table;
  }  
  &:after {
    clear: both;
  } 
}