$white: #fff;
$red: #f60201;
$darkerRed: #e10a0a;
$black: #252c32;
$darkGray: #666;
$lightGray: #a4a4a4;
$lighterGray: #dcdcdc;
$gray: #e7e7e7;
$realBlack: #000;

$base: 10;

$fontPath: "../fonts";
$imagesPath: "../images";

$path_open_sans_light_italic: "#{$fontPath}/openSans/openSans_lightitalic/opensans-lightitalic-webfont";
$path_open_sansbold_italic: "#{$fontPath}/openSans/openSans_bolditalic/opensans-bolditalic-webfont";

$path_tajawalbold: "#{$fontPath}/Tajawal/tajawal-bold/tajawal-bold-webfont";
$path_tajawal_extrabold: "#{$fontPath}/Tajawal/tajawal-extrabold/tajawal-extrabold-webfont";
$path_tajawal_medium: "#{$fontPath}/Tajawal/tajawal-medium/tajawal-medium-webfont";
$path_tajawal_regular: "#{$fontPath}/Tajawal/tajawal-regular/tajawal-regular-webfont";

$media_mobile_small : "(max-width: 359px)";
$media_mobile : "(max-width: 599px)";
$media_tablet : "(min-width: 600px) and (max-width: 999px)";
$media_desktop : "(min-width: 1000px) and (max-width: 1299px)";


$media_desktop1 : "(min-width: 1000px) and (max-width: 1099px)";
$media_desktop2 : "(min-width: 1100px) and (max-width: 1199px)";
$media_desktop3 : "(min-width: 1200px) and (max-width: 1299px)";


$media_wide : "(min-width: 1300px)";


$media_wide1: "(min-width: 1300px)";
$media_wide2: "(min-width: 1400px)";
$media_wide3: "(min-width: 1500px)";
$media_wide4: "(min-width: 1600px)";

$media_mobile_and_tablet : "(max-width: 999px)";
$media_mobile_and_tablet_and_desktop : "(max-width: 1299px)";
$media_tablet_and_desktop : "(min-width: 768px) and  (max-width: 1299px)";
$media_tablet_and_desktop_and_wide : "(min-width: 600px)";
$media_desktop_and_wide : "(min-width: 1000px)";
$media_large_screen: "(min-width: 1800px)";
$media_desktop_tablet: "(min-width: 1080px) and (max-width: 1399px)";

$media_large_screen: "(min-width: 1800px)";

$media_very_large_screen: "(min-width: 2400px)";

$font_light: 300;
$font_normal: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
