$default: $from;
$opposite: $to;


footer{
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    p{
        margin:  0;
    } 

    @media screen and (max-width: 736px) {
           padding-top: 40px;
        }
}

.footer-block {
    margin-bottom: 12px;
}
.footer-call-us {
    margin-bottom: 9px;
    > div {
        display: inline-block;
        font-size: 22px;
        color:$lightGray;
        text-transform: uppercase;
        &.call-us-text {
            padding-#{$default}: 27px;
            padding-#{$opposite}: 10px;
            cursor: pointer;

            position: relative;
            color: $darkGray;
            font-family: 'tajawal_extraboldregular';
            a:link,a:visited{
                color:#666;
            }
            p{
                display: none;
                &.opened{
                    display: block;
                }
            }
            &:before {
                content: "";
                background: url(../img/phone.png) no-repeat;
                background-size: contain;
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                top: 10px;
                #{$default}:0;
                @media screen and (max-width:736px){
                    top: 5px;
                }

            }
        }
        &.footer-days {
            // @include fontFamily(tajawal_mediumregular);
            margin-#{$default}: 10px;
        }
    }
}

.footer-links {
    > div {
        display: inline-block;
        border-#{$default}: 1px solid $darkGray;
        margin-#{$default}: 8px;
        padding-#{$default}: 8px;
        line-height: 1;
        &:first-child{
            border-#{$default}: none;
            margin-#{$default}: 0;
            padding-#{$default}: 0;
        }
        a:link,a:visited {
            text-decoration: none;
            color: $darkGray;
            font-size: 12px;
            font-family: 'tajawalbold';

        }

    }
}

.footer-description {
    margin-top: 20px;
   
    > div {
        margin-bottom: 10px;
        font-size: 12px;
        color: $lightGray;
       
    }
}

.desktop{
    display: block;
    @media screen and (max-width:736px){
        display: none;
    }
}
.show-mobile{
    display: none;
    @media screen and (max-width:736px){
        display: block;
    }
}



