.header {
	overflow: hidden;
	position: relative;
	text-align: center;
	z-index: 1000;
	@media #{$media_mobile} {
		padding:0;
		padding-#{$from}: 33%;

		.centered {
			padding-top: sizer(10);
			padding-bottom: sizer(0);
		}
	}

	padding: sizer(8) 0 sizer(30) 0;
	padding-#{$from}: 33%;
	.logo {
		width: 50%;
		float: $from;
		a {
			display: block;
			margin: 0 auto;
			width: sizer(100);
			max-width: 75px;

			@media #{$media_mobile} {
				width: sizer(35);
			}
		}
		img {
			width: 100%;
		}
	}

}


.navigation {
	overflow: hidden;
	float: $to;
	width: 50%;
	color: $white;
	font-size: sizer(10);
	@media #{$media_mobile_and_tablet} {
			padding-#{$to}: sizer(10);
			
		}

	ul {
		float: $to;
	}

	@media #{$media_desktop_and_wide} {
		margin-top: sizer(30);
	}


	ul {
		text-align: $to;
	}

	li {
		display: block;
		margin-#{$from}: sizer(10);

		@media #{$media_desktop_and_wide} {
			display: inline-block;
			&:last-child{
				border-#{$from}: 1px solid $white;
				padding-#{$from}:  sizer(10);
			}
		}
		
	}

	input[type='submit'],
	button,
	span,
	a {
		margin: 0;
		word-break: break-all;
		text-decoration: none;
		font-size: sizer(16);
		color: $white;

		@media #{$media_mobile_and_tablet} {
			font-size: sizer(9);
			text-align: $to;
		}
		-webkit-appearance: none;
		border: 0;
		padding: 0;
		background: none;
		display: inline-block;
	}


	input[type='submit'],
	button {
		@media #{$media_mobile_and_tablet} {
			font-size: sizer(12);
			margin-top: sizer(5);
		}
	} 
}