.error {
	padding-top: sizer(5);
	display: none;
	color: #ff2610;
	font-size: sizer(10);
	@include fontFamily(tajawalregular);
}


.message-error {
	color: $red;

	@media #{$media_desktop_and_wide} {
			color: #fff;
	}
}

.hidden {
	display: none;
}

.block-404 {
	
	font-size: sizer(24);
	color: #fff;
	padding: 0 sizer(20);

	@media #{$media_wide} {
		min-height: 75rem;
		}
	@media #{$media_mobile_and_tablet} {
		padding: 0;
		font-size: sizer(30);
		}
	@include fontFamily(tajawalregular);

	@media #{$media_mobile_and_tablet} {
		font-size: sizer(15);
	}

	.block-content{
		background: url(#{$imagesPath}/bitmap@2x.png) no-repeat center center;
		background-size: contain;
		height: sizer(400);
		

		max-width: sizer(700);
		margin: 0 auto;
		padding: 0 7%;
		@media #{$media_mobile_and_tablet} {	
			padding-#{$to}: 4%;
			max-width: sizer(400);
			height: 23rem;
		}
	}

	.block-action {
		text-align: center;
		a {
			@extend %button;
			width: 100%;
			max-width: sizer(450);
		}
	}

	.vertical {
		max-width: sizer(700);
		margin: 0 auto;
		// border: 5px solid yellow;
		position: relative;
		top: 45%;
		transform: translateY(-45%);
	}

	p {
		margin-bottom: sizer(5);
	}

	.bolder {
		@include fontFamily(tajawalbold);
		text-transform: uppercase;
		font-size: sizer(40);
		@media #{$media_mobile_and_tablet} {
			font-size: sizer(24);
		}
	}

	h2 {
		font-size: sizer(60);
		background: #fff;
		color: #000;
		text-transform: uppercase;
		padding: 0 sizer(15);
		display: inline-block;
		margin-bottom: sizer(10);
		line-height: 1.1;

		@media #{$media_mobile_and_tablet} {
			font-size: sizer(40);
			padding: 0 sizer(5);
		}
	}
}

.enjoy-netflix {
	@include fontFamily(open_sansbold_italic);
	color: $white;

	line-height: 1.2;

	> div {
		text-transform: uppercase;
	}

	.large-size {
		font-size: sizer(44);

		@media #{$media_desktop} {
			// font-size: sizer(37);
		}
		@media #{$media_wide} {
			font-size: sizer(52);
		}
	}
	.medium-size {
		line-height: 1.2;
		font-size: sizer(30);
		@media #{$media_mobile} {
			font-size: sizer(27);
		}

		span {
			@include fontFamily(open_sanslight_italic);
		}
	}

	.small-size {
		line-height: 1.3;
		text-transform: none;
		font-size: sizer(16);
		@include fontFamily(tajawal_mediumregular);
		margin-top: sizer(10);


		@media #{$media_desktop_and_wide} {
			@include fontFamily(tajawalbold);
		}
	}
	.smaller-size {
		font-size: sizer(12);
		@include fontFamily(tajawalregular);
		text-transform: none;
		text-align: center;

		@media #{$media_tablet_and_desktop_and_wide} {
			max-width: sizer(450);
		}
		@media #{$media_tablet} {
			margin: 0 auto 0;
		}

		@media #{$media_mobile_and_tablet} {
			color: #000;

			font-size: sizer(15);
		}
	}

	& ~ & {
		@media #{$media_mobile_and_tablet} {
			input[type="submit"],
			button {
				background: $red;
				color: #fff;
				font-size: sizer(18);
				padding: sizer(15) sizer(20);

				&[disabled] {
					background: #b3b3b3;
					color: #e4e4e4;
				}
			}
		}

		.small-size {
			@media #{$media_mobile_and_tablet} {
				margin-top: sizer(35);
				font-size: sizer(18);
				color: #000;
			}
		}
	}
}

.block {
	@extend %clearfix;
}

.block-netflix {

	.inner & {
		@media #{$media_mobile_and_tablet} {
			margin-top: sizer(20);
		}
	}
	.front & {
		margin-top: sizer(20);
		
	}
	@media #{$media_mobile_and_tablet_and_desktop} {
		.enjoy-netflix,
		.block-image {
			padding: 0 2.5%;
		}
	}

	&.wide {
		@media #{$media_desktop_and_wide} {
			margin-top: sizer(60);
		}
	}

	.block-text.full {
		@media #{$media_desktop_and_wide} {
			width: 53%;
			text-transform: none;
		}
	}

	.block-image {
		overflow: hidden;
		a,
		img {
			display: block;
			margin: 0 auto;
			// max-width: sizer(750);
		}

		@media #{$media_desktop_and_wide} {
			float: $to;
			width: 61.5%;
			margin-#{$from}: sizer(8);
		}
	}

	.block-form {
		position: relative;
		margin-top: sizer(22);
		background: $white;
		border-radius: sizer(4);
		box-shadow: 0 sizer(4) sizer(16) 0 rgba(126, 126, 126, 0.15);
		padding: sizer(18) sizer(10) sizer(18);

		@media #{$media_desktop_and_wide} {
			width: 32%;
			float: $from;
			padding: sizer(24) sizer(22) sizer(24);
		}

		@media #{$media_mobile} {
			margin-top: sizer(42);
		}

		form {
			> div {
				margin-bottom: sizer(20);
				@media #{$media_mobile} {
					margin-bottom: sizer(28);
				}
			}

			.form-title {
				font-size: sizer(16);
				@include fontFamily(tajawalbold);
				color: $black;
				text-transform: uppercase;
				margin-bottom: sizer(14);
				@media #{$media_mobile} {
					margin-bottom: sizer(12);
					font-size: sizer(18);
				}
			}



			.phone-input {

				label {
				@include fontFamily(tajawalbold);	
				font-size: 14px;
				margin-bottom: 10px;
				display: block;
				color: #666;
				}

				.input-group {

				position: relative;

				input {
					padding-#{$from}: 40px;
					font-size: 22px;
				}

				.prefix {
					position: absolute;
					left: 5px;
					top: 50%;
					transform: translateY(-50%);
					width: 35px;
					text-align: center;
					font-size: 22px;
					color: #666;
					margin-top: 1px;
				}

			}
			}

			.wrap-input {
				width: 100%;
				position: relative;
				input,
				input[type="submit"],
				button {
					width: 100%;
					padding: sizer(9);
					display: block;
					box-sizing: border-box;
					border-radius: sizer(4);
					border: 1px solid $gray;
					background: rgba(37, 44, 50, 0.02);
					@include fontFamily(tajawalregular);
					font-size: sizer(15);
					color: $black;
					&.pass {
						padding-#{$to}: sizer(35);
					}
				}
				.show-password {
					position: absolute;
					top: sizer(15);
					right: sizer(10);
					@include fontFamily(tajawal_mediumregular);
					font-size: sizer(10);
					color: $darkerRed;
					text-transform: uppercase;
					&:hover {
						cursor: pointer;
					}
				}

				input[type="submit"],
				button {
					background: $darkerRed;
					color: $white;
					@include fontFamily(tajawal_mediumregular);
					font-size: sizer(17);
					text-transform: uppercase;
					border: none;
					padding: sizer(13);

					// &[disabled] {
					// 	background: #b3b3b3;
					// 	color: #e4e4e4;
					// }
				}
				&.container-form-btn {
					margin-bottom: sizer(13);
					@media #{$media_mobile} {
						margin-bottom: sizer(23);
					}
				}
			}
			a {
				text-align: center;
				margin: 0 auto;
				display: block;
				text-decoration: none;
				color: $darkerRed;
				font-size: sizer(14);
				@include fontFamily(tajawalregular);
			}
		}
	}
}
.inner {
	.large-size {
		@media #{$media_mobile_and_tablet} {
			margin-bottom: sizer(25);
		}
	}

	.small-size {
		@media #{$media_mobile_and_tablet} {
			@include fontFamily(tajawalregular);
			line-height: 1.2;
		}
	}

	.enjoy-netflix {
		input[type="submit"],
		button {
			width: 100%;

			@media #{$media_tablet_and_desktop_and_wide} {
				max-width: sizer(450);
			}

			@media #{$media_tablet} {
				margin: sizer(60) auto sizer(15);
			}

			margin-top: sizer(60);

@media #{$media_desktop_and_wide} {
	&[disabled] {
				background: #ea9090;
				color: #f2caca;
			}
}
			
		}
		@media #{$media_desktop_and_wide} {
			width: 55%;
			float: $from;
		}
	}

	.block-image {
		@media #{$media_desktop_and_wide} {
			padding-#{$to}: sizer(1);
			width: 41%;
		}
		img {
			margin-top: sizer(2);
			// max-width: 85%;
		}

		@media #{$media_mobile_and_tablet} {
			img {
				max-width: 85%;
			}
		}
	}
}

.front {
	.footer {
		margin-top: sizer(95);
	}
	.enjoy-netflix {
		@media #{$media_desktop_and_wide} {
			width: 37%;
			float: $from;
		}
	}
	.block-image {
		margin-top: sizer(24);

		@media #{$media_desktop_and_wide} {
			margin-top: sizer(60);
		}
	}
}

.faq-wrapper {
	counter-reset: faq;
	margin-top: sizer(30);
}

.page-content ul,
ul.text {
	&,
	li {
		list-style: disc inside;
	}
	li {
		margin-bottom: 1rem;
	}
}

.page-content ol,
ol.text {
	&,
	li {
		list-style: decimal inside;
	}
	li {
		margin-bottom: 1rem;
	}
}

.terms-block {
	padding-#{$from}: sizer(10);
	font-size: sizer(13);
	margin-top: sizer(30);
}

.faq-block {
	counter-increment: faq;
	position: relative;
	padding-#{$from}: sizer(40);
	padding-bottom: sizer(10);
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: sizer(11);

	&:last-child {
		margin-bottom: 0;
	}

	&.expanded {
		.faq-title {
			&:after {
				transform: rotate(-180deg);
			}
		}
	}

	.faq-title {
		cursor: pointer;
		font-size: sizer(16);
		@include fontFamily(tajawalbold);
		line-height: 1.25;
		margin-bottom: sizer(10);
		padding-#{$to}: sizer(40);

		&:after {
			content: "";
			width: sizer(12);
			height: sizer(15);
			background: url(#{$imagesPath}/rectangle-6.svg) no-repeat center center;
			background-size: contain;
			position: absolute;
			top: 0;
			#{$to}: sizer(10);
			transform: rotate(0deg);
			transition: transform 0.2s ease;
		}

		&:before {
			content: counters(faq, ".", decimal-leading-zero) ".";
			width: sizer(30);
			height: sizer(25);
			font-size: sizer(16);
			color: #ffffff;
			background: #000;
			padding: sizer(2) sizer(5);
			text-align: center;
			position: absolute;
			top: 0;
			#{$from}: 0;
		}
	}
	.faq-text {
		font-size: sizer(14);
		line-height: 1.43;
		display: none;
	}
}