@import "../settings/language_ltr";
@import "all";
.front .fixed-diagonal{

	&:after{
		// height: 460px !important;
        // top: -160px;
        height: 45% !important;
        top: -14%;
        @media (max-width: 1500px){
            top: -10%;
        }
        @media (max-width: 1320px){
            top: -5%;
        }
        @media (max-width: 1095px){
            top: 4%;
            height: 30% !important;
        }
        @media (max-width: 1000px){
            top: 17%;
            height: 28% !important;
        }
        @media (max-width: 800px){
            top: 15%;
            height: 24% !important;
        }
        @media (max-width: 800px){
            top: 15%;
            height: 24% !important;
        }
        @media (max-width: 700px){
            top: 12%;
            height: 24% !important;
        }
        @media (max-width: 580px){
            top: 11%;
            height: 19% !important;
        }
        @media (max-width: 414px){
            top: 9%;
            height: 17% !important;
        }
        @media (max-width: 385px){
            top: 9%;
            height: 16% !important;
        }
        @media (max-width: 385px){
            top: 8%;
            height: 16% !important;
        }
        
        
	}
}




.v2{
    &.enjoy-netflix{
        width: 59.5%;
        
        @media (max-width: 1195px){
            width: 62%;
        }

        @media (max-width: 1095px){
            width: auto;
            color: #333;
            .small-size.bold-font{
                font-weight: 700;
            }
            .small-size.regular-font{
                color: #666;
            }
            .medium-size,.large-size{
                color: #fff;
            }
            .large-size{
                margin-bottom: 20px;
            }
        }

        &+.block-image{
            width: 39.5%;
            @media (max-width: 1195px){
                width: 37%;
            }
            @media (max-width: 1095px){
                display: none;
            }
            @media (min-width: 1000px){
                margin-top: 3rem;
            }
        }

        .small-size{
            width: 84%;

            @media (max-width: 1500px){
                width: 80%;
            }
            @media (max-width: 1320px){
                width: 75%;
            }
            @media (max-width: 414px){
                width: 95%;
            }
        }
        
    }

    
}
.small-size{
    @media #{$media_desktop_and_wide} {
       
        &.regular-font p{
            font-family: "tajawalregular"; font-weight: normal; font-style: normal; font-size: 16px;
        }
    }
}

.plan{
    &s-list{
        overflow: hidden;
        padding: 5px;
        margin-top: 20px;
    }
    &-sections{
        float: left;
        width: 100%;
        max-width: 292px;
        &:nth-child(2){
            margin-left: 10px;
        }
        @media (max-width: 1144px){
            max-width: 278px;
        }
        @media (max-width: 1095px){
            margin-left:0 !important;
            max-width: inherit;
            float: none;
            // margin-bottom: 20px;
        }
    }
    &-itm{
        
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 5px 0 #ccc;
        margin-bottom: 10px;
        @media (max-width: 1095px){
            margin-bottom: 15px;
        }

       
    }
    &-title{
        background: #404040;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        font-family: "tajawalbold";
        font-weight: 700;
        padding: 8px 10px 5px;
        line-height: 1;

        span{
            display: inline-block;
            background: #cf2e22;
            padding:2px 2px 1px;
            position: absolute;
            line-height: 1;
            margin-top: -3px;
            margin-left: 10px;
        }
    }
    &-content{
        overflow: hidden;
        color:#000;
        padding: 10px 8px;
        min-height: 121px;
        .section1{
            width:70%;
            float: left;
            box-sizing: border-box;
            border-right:1px solid #f4f2f2;
            padding-right: 5px;
        }
        .section2{
            width:29%;
            float: left;
            margin-left: 1%;
            text-align: right;
            
        }
        .bl{
            float: left;
            width: 50%;
            .plan-value{
                font-size: 14px;
                &>span{
                    font-size: 9px;
                }

            }
            .plan-label{
                margin-bottom: 0;
            }
        }
    }
    &-value{
      
        font-size: 20px;
        font-family: "tajawalbold"; 
        font-weight: 700;
        &>span{
            font-family: "tajawalbold"; 
            font-weight: 400;
            font-size: 14px;
        }
    }
    &-label{
        color:#8d8d8d;
        font-size: 9px;
        font-family: "tajawalregular"; 
        font-weight: 400;
        margin-bottom: 10px;
    }
    &-price{
        width: 72px;
        border-radius: 3px;
        background: #cf2e22;
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-family: "tajawalbold"; 
        font-weight: 700;
        text-align: center;
        line-height: 1;
        padding-top: 3px;
        padding-bottom: 0;

        &>span{
            font-size: 9px;
            font-family: "tajawalregular"; 
            font-weight: 400;
            display: inline-block;
        }

        &.discounted{
            background: #b3b3b3;
            font-size: 14px;
            margin-bottom: 3px;
            position: relative;
            &:after{
                content: "";
                display: block;
                width: 90%;
                border-bottom: 1px solid #cf2e22;
                transform: rotate(-8deg);
                position: absolute;
                left: 5%;
                top: 9px;
            }
        }

    }
}
.overflow{
    overflow: hidden;
}
.plus3monthes{
    margin-top: 8px;
    img{
        max-width:137px;
    }
}
.vat-info{
    font-size: 8px;
    color:#8a8a8a;
    font-family: "tajawalregular"; 
    font-weight: 400;
    margin-top: 8px;
    line-height: 1.4;
    strong{
        text-transform: uppercase;
        font-weight: 700;
    }
    &+.vat-info{
        margin-top: 5px;
    }
}

.center{
    text-align: center;
}

#btn1{
   
    display: block;
    width: 100%;
    max-width: 405px;
    height:55px;
    border-radius: 5px;
    background: rgba(225,10,10,1);
    box-shadow: none;
    text-shadow: none;
    margin: 20px auto;
    color: #fff;
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-family: "tajawalregular"; 
    padding-top: 17px;

}
.more-plans{
    display: block;
    font-family: 'tajawalregular'; 
    color: rgb(37, 44, 50); 
    font-size: 20px; 
    font-weight:400;
    text-transform: capitalize; 
    font-style: normal;
    margin-top: 20px
}

.got-question{
    font-weight: 700; 
    // font-family: 'Trebuchet MS',sans-serif; 
    color: rgb(64, 64, 64); 
    font-size: 22px;
    font-style: normal;
    display: block;
    text-align: center;
    margin: 50px 0 0 
}

.visit-questions-btn{

    display: block;
    border-style: solid;
    border-radius: 4px;
    width: 100%;
    max-width: 198px;
    height: 38px;
    background: rgba(255,255,255,1);
    box-shadow: none;
    text-shadow: none;
    color: #e10a0a;
    border-width: 1px;
    border-color: #e10a0a;
    font-size: 16px;
    line-height: 1;
    padding-top: 10px;
    font-weight: 700;
   margin: 20px auto 50px;
    font-style: normal;
    text-align: center;
 
}

.mobile-responsive{
    display: none;
    @media (max-width: 1095px){
        display: block;
        margin-bottom: 50px;
    }
}